In [113]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import normalize, StandardScaler, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import matplotlib.pyplot as plt
pd.options.display.max_columns=250
pd.options.display.max_colwidth=200

In [89]:
data =  pd.read_csv('UNSW-NB15_1.csv', header = None)
datacols = pd.read_csv('NUSW-NB15_features.csv',encoding='cp1252')
columns = datacols.Name
data.columns = columns

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (1,3,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [90]:
data['service']= np.where(data['service'] == '-', 'None', data['service'])
data['state']= np.where(data['state'] == 'no', 'None', data['state'])
data['is_sm_ips_ports'] = data['is_sm_ips_ports'].astype(bool)
data['is_ftp_login'] = data['is_ftp_login'].astype(bool)
data['ct_state_ttl'] = data['ct_state_ttl'].astype('category')

In [91]:
selected_df = data[['service', 'sbytes', 'sttl', 'smeansz', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'Spkts', 'Dload', 'sloss', 'dloss', 'ct_src_ ltm', 'ct_srv_dst' ]]

In [92]:
selected_df

Name,service,sbytes,sttl,smeansz,ct_dst_sport_ltm,ct_dst_src_ltm,Spkts,Dload,sloss,dloss,ct_src_ ltm,ct_srv_dst
0,dns,132,31,66,1,1,2,6.218009e+05,0,0,3,7
1,None,528,31,132,1,2,4,5.048017e+04,0,0,3,4
2,dns,146,31,73,1,1,2,6.362824e+05,0,0,2,8
3,dns,132,31,66,1,1,2,5.425972e+05,0,0,1,9
4,dns,146,31,73,1,1,2,6.090676e+05,0,0,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...
699996,None,320,31,53,1,4,6,6.436736e+05,1,2,5,20
699997,http,19410,31,53,2,2,364,6.195098e+06,2,370,7,1
699998,None,2158,31,90,1,2,24,2.658413e+06,6,6,7,13
699999,None,568,31,142,1,3,4,4.112740e+05,0,0,5,13
700000,None,4238,31,59,1,2,72,6.571546e+06,7,30,7,13

In [93]:
num_cols = selected_df.drop(columns = 'service')
scaler = MinMaxScaler()
num_cols = scaler.fit_transform(num_cols)

In [94]:
#num_cols = selected_df.drop(columns = 'service')
#num_cols = normalize(num_cols)

In [100]:
num_cols = pd.DataFrame(num_cols)

In [101]:
num_cols.columns = ['sbytes', 'sttl', 'smeansz', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 
                            'Spkts', 'Dload', 'sloss', 'dloss', 'ct_src_ ltm', 'ct_srv_dst']

In [102]:
num_cols.describe()

,sbytes,sttl,smeansz,ct_dst_sport_ltm,ct_dst_src_ltm,Spkts,Dload,sloss,dloss,ct_src_ ltm,ct_srv_dst
count,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000,700001.000000
mean,0.000366,0.151035,0.085847,0.012179,0.032111,0.004093,0.023384,0.001242,0.003890,0.074869,0.122785
std,0.003283,0.156851,0.108681,0.043213,0.059762,0.007863,0.034948,0.003700,0.011806,0.085503,0.113064
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000031,0.121569,0.041223,0.000000,0.000000,0.000392,0.000593,0.000000,0.000000,0.020408,0.024390
50%,0.000148,0.121569,0.048537,0.000000,0.000000,0.001569,0.005193,0.000785,0.000912,0.061224,0.097561
75%,0.000278,0.121569,0.081117,0.000000,0.054054,0.005098,0.029948,0.001374,0.002918,0.102041,0.170732
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [103]:
num_cols.columns

Index(['sbytes', 'sttl', 'smeansz', 'ct_dst_sport_ltm', 'ct_dst_src_ltm',
       'Spkts', 'Dload', 'sloss', 'dloss', 'ct_src_ ltm', 'ct_srv_dst'],
      dtype='object')

In [104]:
num_cols.head()

,sbytes,sttl,smeansz,ct_dst_sport_ltm,ct_dst_src_ltm,Spkts,Dload,sloss,dloss,ct_src_ ltm,ct_srv_dst
0,0.000010,0.121569,0.043883,0.0,0.000000,0.000196,0.004829,0.0,0.0,0.040816,0.146341
1,0.000039,0.121569,0.087766,0.0,0.027027,0.000392,0.000392,0.0,0.0,0.040816,0.073171
2,0.000011,0.121569,0.048537,0.0,0.000000,0.000196,0.004942,0.0,0.0,0.020408,0.170732
3,0.000010,0.121569,0.043883,0.0,0.000000,0.000196,0.004214,0.0,0.0,0.000000,0.195122
4,0.000011,0.121569,0.048537,0.0,0.000000,0.000196,0.004730,0.0,0.0,0.000000,0.195122

In [105]:
cat_cols = selected_df['service']
labelencoder = LabelEncoder()
le_value = labelencoder.fit_transform(cat_cols)
cat_cols = le_value

In [106]:
onehotcols = pd.DataFrame(cat_cols, columns = ['service'])

In [107]:
type(onehotcols)

pandas.core.frame.DataFrame

In [108]:
encoder= OneHotEncoder()
onehotcols = encoder.fit_transform(onehotcols).toarray() 

onehotdf = pd.DataFrame(onehotcols)

In [109]:
onehotdf

         0    1    2    3    4    5    6    7    8    9    10   11   12
0       0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1       1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2       0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3       0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4       0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
699996  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
699997  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
699998  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
699999  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
700000  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[700001 rows x 13 columns]

In [110]:
new_data = pd.concat([onehotdf, num_cols ], axis =1)

In [111]:
new_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,sbytes,sttl,smeansz,ct_dst_sport_ltm,ct_dst_src_ltm,Spkts,Dload,sloss,dloss,ct_src_ ltm,ct_srv_dst
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000010,0.121569,0.043883,0.0,0.000000,0.000196,0.004829,0.0,0.0,0.040816,0.146341
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000039,0.121569,0.087766,0.0,0.027027,0.000392,0.000392,0.0,0.0,0.040816,0.073171
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000011,0.121569,0.048537,0.0,0.000000,0.000196,0.004942,0.0,0.0,0.020408,0.170732
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000010,0.121569,0.043883,0.0,0.000000,0.000196,0.004214,0.0,0.0,0.000000,0.195122
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000011,0.121569,0.048537,0.0,0.000000,0.000196,0.004730,0.0,0.0,0.000000,0.195122

In [112]:
new_data.to_csv('onehotdata.csv', index=False)