In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import normalize, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import matplotlib.pyplot as plt
pd.options.display.max_columns=150
pd.options.display.max_colwidth=200

In [6]:
data =  pd.read_csv('UNSW-NB15_1.csv', header = None)
datacols = pd.read_csv('NUSW-NB15_features.csv',encoding='cp1252')
columns = datacols.Name
data.columns = columns

/usr/local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (1,3,47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
data['service']= np.where(data['service'] == '-', 'None', data['service'])
data['state']= np.where(data['state'] == 'no', 'None', data['state'])
data['is_sm_ips_ports'] = data['is_sm_ips_ports'].astype(bool)
data['is_ftp_login'] = data['is_ftp_login'].astype(bool)
data['ct_state_ttl'] = data['ct_state_ttl'].astype('category')

In [38]:
selected_df = data[['service', 'sbytes', 'sttl', 'smeansz', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'Spkts', 'Dload', 'sloss', 'dloss', 'ct_src_ ltm', 'ct_srv_dst' ]]

In [39]:
selected_df

Name,service,sbytes,sttl,smeansz,ct_dst_sport_ltm,ct_dst_src_ltm,Spkts,Dload,sloss,dloss,ct_src_ ltm,ct_srv_dst
0,dns,132,31,66,1,1,2,6.218009e+05,0,0,3,7
1,None,528,31,132,1,2,4,5.048017e+04,0,0,3,4
2,dns,146,31,73,1,1,2,6.362824e+05,0,0,2,8
3,dns,132,31,66,1,1,2,5.425972e+05,0,0,1,9
4,dns,146,31,73,1,1,2,6.090676e+05,0,0,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...
699996,None,320,31,53,1,4,6,6.436736e+05,1,2,5,20
699997,http,19410,31,53,2,2,364,6.195098e+06,2,370,7,1
699998,None,2158,31,90,1,2,24,2.658413e+06,6,6,7,13
699999,None,568,31,142,1,3,4,4.112740e+05,0,0,5,13
700000,None,4238,31,59,1,2,72,6.571546e+06,7,30,7,13

In [40]:
num_cols = selected_df.drop(columns = 'service')

In [41]:
cat_cols = selected_df['service']
labelencoder = LabelEncoder()
le_value = labelencoder.fit_transform(cat_cols)
cat_cols = le_value

In [42]:
onehotcols = pd.DataFrame(cat_cols, columns = ['service'])

In [43]:
type(onehotcols)

pandas.core.frame.DataFrame

In [44]:
encoder= OneHotEncoder()
onehotcols = encoder.fit_transform(onehotcols).toarray() 

onehotdf = pd.DataFrame(onehotcols)

In [46]:
new_data = pd.concat([onehotdf, num_cols ], axis =1)

In [47]:
new_data.to_csv('onehotdata.csv', index=False)